@import url('https://fonts.googleapis.com/css?family=Roboto:300|Spectral+SC');
html, body{
  height:100%;
}

body{
  background-image: url("nasa-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  padding-top: 2%;
}

.container{
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  height: 80vH;
}

#header{
  border-bottom: 1px solid rgba(227,193,132, 0.5);
}

h1{
  font-family: 'Spectral SC', serif;
  text-shadow: 2px 2px #333;
  font-size: 50px;
  -webkit-text-stroke: 0.5px #000000;
}

#quote{
  margin: 5% 10%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-shadow: 2px 2px 2px #000000;
}

#buttons{
  margin-top: 8%;
  position: relative;
}

#tweet{
  position: absolute;
  bottom: 2%;
}

img:hover{
  cursor: pointer;
}

footer{
  text-align: right;
  color: #000000;
  box-sizing: border-box;
  padding: 2%;
  position: absolute;
  bottom: 0;
  width: 100%;
}